/* styles.css */

.container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.left {
    flex: 1;
    padding: 20px;
    align-items: center;
}

.right {
    flex: 1;
    padding: 20px;
}

#dataList {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}

#dataList2 {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}

#textInput, #addButton, #navigateButton {
    margin: 10px;
}
