<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Display</title>

    <link rel="stylesheet" type="text/css" href="style.css">


</head>
<body>
<div class="container">
    <div class="right">
        <h1>Send your Data</h1>
        <label for="textInput"></label><textarea id="textInput" rows="20" cols="50"></textarea><br>
        <button id="addButton">Add Text</button>

        <p>Go to Main page</p>
        <button id="navigateButton">Go to OJ Page</button>
        <button id="refreshButton">Refresh Receive</button>
        <button onclick="clearDataList()">Clear DataList</button>

    </div>
    <div class="left">
        <div class="right">
            <h1>Send History</h1>
            <ul id="dataList2"></ul>
        </div>
        <div class="right">
            <h1>Receive Display</h1>
            <ul id="dataList"></ul>
        </div>
    </div>

</div>


<script>
    function clearDataList() {
        fetch('/clearDataList', {
            method: 'POST',
        }).then(response => response.json())
            .then(data => {
                // 清空列表
                dataListElement.innerHTML = '';
                console.log(data)
                // 将获取到的数据添加到列表中
                data.forEach(item => {
                    var li = document.createElement("li");
                    li.textContent = item;
                    dataListElement.appendChild(li);
                });
            })
        document.addEventListener('DOMContentLoaded', fetchData);
        document.addEventListener('DOMContentLoaded', fetchDataReceived);
    }
</script>


<script>
    // 为新按钮添加点击事件，实现页面跳转
    document.getElementById("navigateButton").addEventListener("click", function() {
        window.location.href = "OJ"; // 跳转到 OJ.html 页面
    });
</script>

<script>

</script>
<script src="sc.js"></script>

</body>

</html>
