<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <link rel="stylesheet" href="  semantic.min.css"> <!-- 引入 Semantic UI 的 CSS 文件 -->
</head>
<body>

<div class="ui secondary pointing menu">
    <a href="http://127.0.0.1:8080/OJ" class="item">
        Home
    </a>
    <div class="right menu">
        <a href="http://localhost:8080/page" class="ui item">
            Login Or Register
        </a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> <!-- 引入 jQuery -->
<script src="semantic.min.js"></script> <!-- 引入 Semantic UI 的 JavaScript 文件 -->

</body>
</html>
